*{
    font-family: "Quicksand", sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(135deg, #e0e7ff 0%, #f8fafc 100%);
    min-height: 90vh;
}
h1{
    color: rgb(0, 46, 99);
    margin-bottom: 6vh;
}

section {
    background-color: white;
    border-radius: 20px;
    max-width: 400px;
    justify-self: center;
    margin-block: 10vh;
    padding: 50px;
}

#usuario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

button[type="submit"] {
    margin-top: 2vh;
    padding-block: 8px;
    border-radius: 20px;
    border-style: none;
    background-color: #60a5fa;
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 50%;
    margin-inline: auto;
    cursor: pointer;
    margin-bottom: 2vh;
}

button[type="submit"]:hover {
    background-color: rgb(0, 46, 99);
    color: white;
    transition: background 0.2s;
    box-shadow: rgb(0, 46, 99, 0.25) 0px 14px 28px, rgb(0, 46, 99, 0.22) 0px 10px 10px;
}
button[type="submit"]:not(:hover) {
    background-color: #60a5fa;
    transition: background 0.2s;
}

input{
    height: 25px;
    border-radius: 10px;
    border: 1px solid rgb(0, 46, 99);
    transition: border;
    margin-bottom: 2vh;
    outline: none;
    padding-inline: 6px;
    font-size: 16px;
}

input[type="text"]:focus {
    background: #fff;
    border: 2px solid #60a5fa;
}

label{
    color: rgb(0, 46, 99);
    font-weight: 500;
}

#error_msj{
    color: red;
}

#msj{
    color: rgb(0, 46, 99);
    font-weight: 500;
}